# Visual Studio 관련 파일
*.obj
*.exe
*.pdb
*.idb
*.class
*.vshost.*
*.iobj
*.ipdb
*.log
*.tlog
*.ilk
*.aps
*.ncb
*.suo
*.user
*.csproj.user
*.pfx
*.publish.xml

# 빌드 결과물
*.dll
*.lib
*.out
*.so

# Visual Studio 구성 폴더
.vscode/
.vs/
_build/
Debug/
Release/
x64/
x86/

# 기타
*.log
*.cache
*.tmp
*.temp